
h1,h2,h3,h4,h5{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    font-size: 4rem; /*1 rem  a 16 px */ 
    padding-top: 50px;
    padding-right: 10px;


}
.texto-custom{
    color: red;
    background-color: blue;
    /* margin-bottom: 100px; */
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.texto-custom-dos{
    color: greenyellow;
    background-color: brown;
}
span{

}
.espacio-abajo-custom{
    margin-bottom: 100px;
}
#identificador-parrafo{
    margin-top: 70px;
}

.list-item{
    margin-left: 50px;
}
ul .list-item{
    background-color: wheat;
    border: 2px solid black;
}
ul .list-item a{
    text-decoration: none;
    color: chocolate;

}

ul .list-item a:hover{
    color:#8f2ba2;
  }

ul .list-item .hipervinculo-especial{
    color:rgb(82, 118, 184);
}
ul .list-item .hipervinculo-especial-dos{
    font-size: xx-large;
}